/* Styles for chapter 7 */
* {
	box-sizing: border-box;
}
body {
	margin:0;
	font-family: Arial, Verdana, sans-serif;
	background-color: #3F2860;
	color: #40407A;
}

#wrapper {
	background-color: #F5F5F5;
	padding: 2em;
}
header {
	background-color: #40407A;
	background-image: url("sunrise.jpg");
	background-size: 100% 100%;
	color: white;
	font-size: 90%;
	margin-top: 50px;
	min-height: 200px;
}
header a {
	text-decoration:none;
}
header a:link {
	color: #FFF;
}
header a:visited {
	color: #FFF;
}
header a:hover {
	color: #EDF5F5;
}
.home, .content {
	height: 20vh;
	padding-top: 2em;
	padding-left: 10%;
}

nav {
	width: 100%;
	padding-top: .5em;
	position: fixed;
	top: 0;
	left: 0;
	text-align: right ;
	background-color: white;
	margin:0;
	padding-right: 0;
	z-index: 9999;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding-top: 1em;
	margin:0;
	font-size: 1.2em;
}
nav li {
	width: 40%;
	padding: 0 1rem 0 1rem;
	padding-bottom: 0;
	display:inline;
}
nav a {
	display: block;
	text-decoration: none;
}
nav a:link {
	color: #3F2860;
}
nav a:visited {
	color: #497777;
}
nav a:hover {
	color: #A26100;
}
#mathero {
	background-image: url("yogamat.jpg");
	background-repeat:no-repeat;
	height: 300px;
	background-size:cover;
	display:none;
}
#loungehero {
	background-image: url("yogalounge.jpg");
	background-repeat:no-repeat;
	height:300px;
	background-size:cover;
	display:none;
}
section {
	padding-left: .5em;
	padding-right:.5em;
}
.studio {
	font-style: italic;
}
#mobile {
	display:inline;
}
#desktop {
	display:none
}
footer {
	font-size: .60em;
	font-style: italic;
	text-align: center;	
}
@media screen and (min-width: 600px) {
	nav ul {
		display: flex;
		flex-wrap:nowrap;
		justify-content:flex-end;
	}
	nav li {
		width: 7em;
	}
	section {
		padding-left: 2em;
		padding-right: 2em;
	}
	#mathero {
		display: block;
		padding-bottom: 1em;
	}
	#loungehero {
		display: block;
		padding-bottom: 1em;
	}
	#flow {
		display: flex;
		flex-direction: row;
	}
	#mobile {
		display:none;
	}
	#desktop {
		display:inline;
	}
}
@media screen and (min-width: 1024px) {
	header {
		font-size:120%;
	}
	home {
		height: 50vh;
		padding-top: 5em;
		padding-left: 8em;
	}
	.content {
		height: 30vh;
		padding-top: 1em;
		padding-left: 8em;
	}
	#wrapper {
		margin: auto;
		width:80%
	}
}

