/* Styles for chapter 3 */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #F5F5F5;
	color: #40407A;
}
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.studio {
	font-style: italic;
}
header h1 {
	background-color: #80CBC4;
	text-align: center;
}
h1 {
	line-height: 200%;
}
nav {
	text-align: center;
	font-weight: bold;
}
nav a {
	text-decoration: none;
}
footer {
	background-color: #80CBC4;
	font-size: .60em;
	font-style: italic;
	text-align: center;	
}

