html, body {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
} 
body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	background: #fdfcfc; 
	background: linear-gradient(to bottom,  #fffffe 20%,#dfdad8 60%,#FFFFFe 100%); 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:black;
	font-size: large;
}
h1, h2, h3, h4 {
	font-family: "Comic Sans MS", cursive;
}
nav {
	font-family: "Comic Sans MS", cursive;
	grid-area: nav;
	padding-top: 0;
	position: relative;
	top: 0;
	left: 0;
	text-align: center ;
	background-color: white;
	margin:0;
	padding-right: 0;
	padding-bottom: .5em;
	z-index: 9999;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding-top: 0;
  padding-left: 0;
	margin:0;
	font-size: 1em;
}
nav li {
	width: 30%;
	padding: 0;
	padding-bottom: 0;
	display:inline;
}
nav a {
	display: block;
	text-decoration: none;
}
nav a:link {
	color: #3F2860;
}
nav a:visited {
	color: #497777;
}
nav a:hover {
	color: white;
	background-color: #616566;
}
.current-button {
	padding: 2px 25px 2px 25px;
	color: black;
	background-color: blanchedalmond;	
}

section {
	margin-left: 2em;
}
section ul {
	list-style-image: url("images/apple-45x45.gif");
}
section a {
	font-family: "Comic Sans MS", cursive;
	font-size: 150%;
}
section p {
	margin-right: 1em;
}

#wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr;
	grid-template-areas:
		"header"
		"nav"
		"left"
		"main"
		"leftbottom"
		"footer";
	max-width: 768px;
	min-height: 100vh;
	background-color: lightgrey;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
header {
	grid-area: header;
	padding: 1em;
	background-color: white;
	text-align:center;
}
aside.ideas {
	grid-area: leftbottom;
	padding: 0 1em;
	background-color: rgba(0, 0, 0, .001);
}
aside {
	grid-area: left;
	padding: 0 1em;
	background-color: rgba(0, 0, 0, .001);
}
aside ul, div#ideas ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside ul li p, div#ideas ul li p {
	font-size: 75%;
}
aside a{
	display:initial;
	font-size: 80%;
}
/* summary {
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
	font-size: 18px;
}*/
main {
	grid-area: main;
	padding: 0 0 0 0;	
	min-height: 100vh;
	background-color: blanchedalmond;
	overflow: auto;
}
footer {
	grid-area: footer;
	padding: 5px;
	color: white;
	background-color: black;
	text-align: center;	
	font-size: 70%;
	font-style: italic;
	min-height: 3em;
}
footer ul li { 	
	display: inline;
	padding: 4px;
}
footer img {
	margin-left: 0;
	margin-right: 1em;
}
header img {
	object-fit:cover;
	position: relative;
	text-align:center;
	width: 500px;
	height: 135px;
	padding: 5px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.reviews {
	background-color: white;
	margin: 0 0 0 0;
	padding: 0 .3em .3em .3em;
}
.section-title {
	max-width: 100%;
	margin: 0;
	padding: .2em 0 0 0;
	text-align:center;
}
.section.boxes {
	display: grid;
}
.section.boxes div {
	grid-area: "feedback";
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "feedback";
	margin: 0 8px 8px 8px;
	font-size: 85%;
}
.signature {
	font-size: 80%;
	text-align:left;
}
.boxes div {
	border-radius: 12px;
	padding: 0 10px 0 10px;
	background-color: rgba(0,0,0,.1);
}


#topdesc {
	display: flex;
}
#topdesc div {
	margin-bottom: 50px;
}
#topdesc h4, #topdesc h5 {
	font-weight: normal;
}


.products {
	margin: 0 auto;
	width: 93%;
}
.products ul {
	list-style-type: none;
	padding: 0;
}

.product img {
  grid-area: image;
}
.product p {
  grid-area: description;
}
.product {
  	display: grid;
  	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
      "image"
      "description";
	margin: 10px auto;
	width: 99%;
}
.products img {
	width:125px;
	height:125px;
	/*float: left;*/
	margin: 0 10px 0 0;
}
.product .prodesc {
  font-style: italic;
  font-size: 15px;
}
.product .proinf {
  color: #6062AE;
}


/* check for larger screen sizes */
@media screen and (min-width:769px) {
	nav ul {
		display: flex;
		flex-wrap:nowrap;
	}
	nav li {
		width: 100%;
	}
	#wrapper {
		grid-template-columns: 25% auto;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"header header"
			"nav nav"
			"left main"
			"leftbottom main"
			"footer footer";
		max-width: 100%;
	}
	.product {
		grid-template-columns: 1fr auto;
		grid-template-rows: 1fr auto;
		grid-template-areas: 
			"image description";
	}
	.section.boxes {
		display: flex;
		flex-direction: row;		
	}
	.section.boxes div {
		min-width: 20%;
	}
	aside a {
		display:initial;
	}
}