html, body {
	box-sizing: border-box;
   }
*, *:before, *:after {
	box-sizing: inherit;
	overflow: auto;
} 
body {
	margin: 0;
	padding: 0;
	background-color: wheat;
	background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 63%,#bf6e4e 99%);
	background: #f0b7a1; 
	background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 63%,#bf6e4e 99%); 

	font-family: Papyrus, Papyrus, Geneva, sans-serif;
	font-family: Verdana, Tahoma, Arial, Geneva, sans-serif;
	color:black;
	font-size: larger;
}
#wrapper {
	margin: 0 auto;
	width: 90%;
	min-width: 640px;
	max-width: 1200px;
	max-height: 100vh;  
}
#content {
	position: relative;
}
header {
	min-height: 4em;
	padding-left: 1em;
    width: 100%;
    background-color: #72a56a;
}
h1 {
	padding-left: .5em;
	font-family:Papyrus, Tahoma, Geneva, sans-serif;
	font-size: 300%;
	color: white;
}
h2 {
	font-size: 100%;
}
div h3 {
	font-size: 80%;
	display:block;
	width: 25%;
	display:none;
}
img {
	margin-top: .8em;
	text-align:center;
}
.floatleft {
	float:left
}
.floatright {
	float: right;
	padding-right: 1em;
	padding-bottom: 1em;
}
.floatcenter {
	float:top;
	margin-right: 0;
}
.floatbottom {
	float:inline-end;
}
main {
	width: 60%;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 20%;
	margin-right: 20%;
	min-height: 100vh;
	background-color: blanchedalmond;
}
aside:first-child {
	width: 20%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: tan;
	min-height: 100vh;
	padding-right: 1.2em;
}
aside:last-child {
	width: 20%;
	padding-left: 1em;
	padding-right: 1em;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: tan;
	min-height: 100vh;
}
#hero {
	padding-top: 1em;
	padding-bottom: 1em;
}
nav ul { 
	list-style-type: none; 
}
nav a { 
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 80%;	
	border: 3px outset #B3C7E6;
	border-radius: 10px;
	margin-bottom: .5em;
	background-color:powderblue;
	padding: .5em .5em .5em 0;
	
}
nav a:link { 
	color: darkblue; 
}
nav a:visited { 
	color: #5b83a3; 
}
nav a:hover { 
	color: #4b5872;
	background-color: #EAEAEA;
    background-position: right -100px; 
}
footer ul li { 
	list-style-type: none;
	display: inline;
	padding: 4px;
}
footer img {
	margin-left: 0;
	margin-right: 1em;
}
footer nav a {
	display: inline;
	text-decoration:underline;
	font-size: 100%;	
	font-style: normal;
	font-weight: bold;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
footer {
	font-size: 70%;
	font-style: italic;
	min-height: 3em;
    padding: .5rem;
    width: 100%;
    text-align: center;
    background: #72a56a;
}
