html, body {
	box-sizing: border-box;
   }
*, *:before, *:after {
	box-sizing: inherit;
	overflow: visible;
} 
body {
	margin: 0;
	padding: 0;
	background-color: wheat;
	background: #f0b7a1; 
	background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 63%,#bf6e4e 99%); 

	font-family: Papyrus, Tahoma, Geneva, sans-serif; /* refer for header fonts */
	font-family: Verdana, Tahoma, Arial, Geneva, sans-serif;
	color:black;
	font-size: large;
}
#wrapper {
	margin: 0 auto;
	width: 90%;
	min-width: 640px;
	max-width: 1200px;
	max-height: 100vh;  
}
#content {
	position: relative;
}
header {
	min-height: 8em;
	padding-left: 1em;

    width: 100%;
    background-color: #72a56a;
	background-image: url(images/header-image.jpg);
	background-repeat:round;
}
h1 {
	padding-left: 3em;
	padding-top:1em;
	font-family: Papyrus, Tahoma, Geneva, sans-serif;
	font-size: 250%;
	color: black;
	background-color: rgba(255, 255, 255, 0.35);
}
h2 {
	font-size: 120%;
}
div h3 {
	font-size: 80%;
	display:block;
	width: 25%;
	display:none;
}
img {
	margin-top: 0em;
	text-align:center;
}
.floatleft {
	margin-top: 1em;
	float:left;
}
.floatright {
	float: right;
	padding-right: 0em;
}
main {
	width: 60%;
	padding: 1em;
	margin-left: 20%;
	margin-right: 20%;
	min-height: 100vh;
	background-color: blanchedalmond;
	overflow: auto;
}
aside:first-child {
	width: 20%;
	padding-right: 1em;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: tan;
	min-height: 100vh;
}
aside:last-child {
	width: 20%;
	padding-left: 1em;
	padding-right: .5em;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: tan;
	min-height: 100vh;
}
#hero {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align:center;
}

nav ul { 
	list-style-type: none; 
	
}
.current-button { 
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 90%;	
	border: 3px outset #9eb49b;
	border-radius: 10px;
	margin-bottom: .5em;
	background-color:rgb(118, 158, 163);
	padding: .5em .5em .5em 0;

}
.button { 
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 90%;	
	border: 3px outset #9eb49b;
	border-radius: 10px;
	margin-bottom: .5em;
	background-color:powderblue;
	padding: .5em .5em .5em 0;

}
nav a:link { 
	color: darkblue; 
}
.button:visited { 
	color: #5b83a3; 
	background-color: blanchedalmond;
}
.button:hover { 
	color: #3c4a66;
	background-color: #d1e8eb;
}
footer {
	font-size: 70%;
	font-style: italic;
	min-height: 3em;
    padding: .5rem;
    width: 100%;
    text-align: center;
    background: #9eb49b;
}
footer ul li { 
	
	display: inline;
	padding: 4px;
}
footer img {
	margin-left: 0;
	margin-right: 1em;
}
.button2 {
	display: inline;
	text-decoration:underline;
	font-size: 100%;	
	font-style: normal;
	font-weight: bold;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.button2:hover { 
	color: #4b5872;
	background-color: #eaeaeaf3;
}
.button3 {
	clear:both;
	display: inline;
	text-decoration:underline;
	font-size: 90%;	
	font-style: normal;
	margin: 0;
	padding: 0;
}
.button3:hover { 
	color: #4b5872;
	background-color: #eaeaeaf3;
}
